#ifndef CLIENTID_H
#define CLIENTID_H

/**
  * This file contains #defines for the client id and client secret
  * that is used to authenticate with google.
  *
  * This file SHOULD NOT be comitted to git.
  *
  */

#define GOOGLE_DRIVE_CLIENT_ID "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
#define GOOGLE_DRIVE_CLIENT_SECRET "aaaaaaaaaaaaaaaaaaaaaaaa"

#endif // CLIENTID_H
